.about,
.resources {
    margin: 0 -15px 15px;
    padding: 15px;
    background-color: #050559;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.card {  
    background-color: #ffffff;
    display: block;
    margin-bottom: 5px; 
    padding: 15px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;

}

footer {
    background-color: #050559;
    text-align: center;
    padding: 10px;
    color: #ffffff;
}