body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color:rgb(5, 5, 89);
    color: white;
    padding: 1rem;
    text-align: center;
}

.about,
.resources {
    display: block;
    margin: 0 -15px 15px;
    padding: 15px;
    background-color: rgb(5, 5, 89);
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    background-color: #333;
    padding: 10px;
    border-radius: 2.5px;  
    justify-content: space-evenly;  
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.card {  
    background-color: white;
    display: block;
    margin-bottom: 5px; 
    padding: 15px;
    border-radius: 10px;
}

.card img {
    width: 100%;
    border-radius: 10px;

}

footer {
    background-color: rgb(5, 5, 89);
    text-align: center;
    padding: 10px;
    color: white;
}